body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-image: url("assets/image/landingPage.png");
    background-size: cover;      
    background-position: center;  
    background-repeat: no-repeat;  

    font-family: "Noto Sans KR", sans-serif;
    margin: 0;
    color: white;
  }  

.center-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.center-box h1 {
    font-size: 6rem;
    color: #fff;
    -webkit-text-stroke: 3px #003377;
    margin-bottom: 1.5rem;
  }

.center-box button {
    background-color: #4066af;
    color: white;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border: 3px solid #003377;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.center-box button:active {
    background-color: #7a52a1;
}