<template id="site-header">
    <header>
      <button class="backBtn" id="backBtn" style="font-size:16px;">←</button>
      <h1 class="title">아무 말 대잔치</h1>
      <img class="avatar" src="" alt="사용자 프로필" />

      <ul class="avatar-menu" hidden>
        <li><button type="button" data-action="profile">회원정보수정</button></li>
        <li><button type="button" data-action="password">비밀번호수정</button></li>
        <li><button type="button" data-action="logout">로그아웃</button></li>
      </ul>
    </header>
  </template>
  